*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.main-container{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    background: url('Desktop1.svg') center/cover no-repeat fixed;
    position: flex;
} 
.section-class{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}
.nwrap{
    white-space: nowrap;
}
section{
    padding: 0 19%;
}
.main-page-content h5{
font-size: 20px;
font-weight: 400px;
color: #333333;
margin-bottom: 40px;
}
.main-page-content h1{
    font-family: 'Permanent Maker',cursive;
    font-size: 90px;
    line-height: 1;
    color: rgba(0, 0, 0, 0.893);
    margin:  0 0 45px;
}
.main-page-content h4{
    
    font-size: 25px;
    font-weight: 600;
    color: rgb(244, 246, 239);
    margin-bottom: 10px;
}

.main-page-content p{  
    font-size: 30px;
    line-height: 1.9;
    color: #000080;
    margin-bottom: 40px;
}
.txt{
    user-select: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.491);
}
.txt:hover {
    background:transparent;
    transform: translateX(8px);
}
.MyPicClass{
    /* margin-inline-end: 20px; */
    margin-left: auto;
    
}
.MyPicClass:hover{
    transform: translateX(5px);
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons .media-icons{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color:rgb(0, 0, 0);
    transition: all .50s ease;
}
.icons .media-icons:hover{
    color: #ffffff;
    transform: translateY(-5px);
}

.MyPicClassMobile{
    display: none;
}
@media screen and (max-width:800px) {
    .main-page-content{
        margin-left:20% ;
    }
    .main-page-content h1,h4,h5,p{
        color: white;
    }
    .main-page-content p{
        color: white;
    }
    .MyPicClass{
        display: none;
    }
    .MyPicClassMobile{
        display: contents;
        margin-top: 50px;
    }
}