@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Protest+Revolution&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}
.main-container{
    height: 100%;
    width: 100%;
    background: #161616 center/cover no-repeat fixed;

    min-height: 100vh;
    display: flex;
} 
.section-class{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

section{
    padding: 0 19%;
}
.main-page-content h5{
font-size: 1.5em;
font-weight: 400px;
color: #ffffff;
margin-bottom: 40px;
}
.main-page-content h1{
    font-family: "Protest Revolution", sans-serif;
    /* font-family: "Acme", sans-serif; */
    font-size: 15em;
    line-height: 1;
    color: #ECDBBA;
    margin:  0 0 10% 27%;
    text-shadow: 10px 10px 10px #346751;
    
}
.main-page-content h1:hover{
    text-shadow: 10px 10px 10px #673434;
}
.main-page-content h4{
    
    font-size: 1.7em;
    font-weight: 600;
    color: rgb(244, 246, 239);
    margin-bottom: 10px;
}


.txt{
    user-select: none;
    
}
.txt:hover {
    background:transparent;
    transform: translateX(8px);
}


.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons .media-icons{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color:#ffffff;
    transition: all .50s ease;
}
.icons .media-icons:hover{
    color: #c94141;
    transform: translateY(-5px);
}


@media screen and (max-width:800px) {
    .main-container{
        height: 100vh;
    }
    .main-page-content{
        margin-left:23% ;
        margin-top: 0;
        padding-top: 0;
    }
    .main-page-content h1,h4{
        color: white;
    }
    .main-page-content h5{
        color: white;
    }
    .main-page-content h1{
        font-size: 5em;
        text-shadow: 3px 2px 5px #346751;
        padding:0;
        margin: 0;
    }
    .section-class{
        border: 2px solid red;
        padding: 0;
        margin: 0;
    }
   
}