*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;
    text-decoration: none;
}

.section-class{
    height: 100%;
    width: 100%;
    min-height: 100vh;
    /* background: linear-gradient(245.59deg, #4d9559 0%,#38703d 28.53%,#133917 75.52%); */
    background: url('bg.svg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    background-attachment: fixed;
    display: flex;
    grid-template-columns: repeat(2,1,fr);
    align-items: center;
    gap: 2rem;
}
.nwrap{
    white-space: nowrap;
}
section{
    padding: 0 19%;
}
.main-page-content h5{
font-size: 20px;
font-weight: 400px;
color: rgb(56, 76, 188);
margin-bottom: 40px;
}
.main-page-content h1{
    font-family: 'Permanent Maker',cursive;
    font-size: 90px;
    line-height: 1;
    color: rgb(187, 91, 91);
    margin:  0 0 45px;
}
.main-page-content h4{
    
    font-size: 25px;
    font-weight: 600;
    color: rgb(138, 166, 53);
    margin-bottom: 10px;
}

.main-page-content p{  
    font-size: 20px;
    line-height: 1.9;
    color: rgb(71, 60, 145);
    margin-bottom: 40px;
}
.txt{
    user-select: none;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.491);
}
.txt:hover {
    background:transparent;
    transform: translateX(8px);
}
.icons{
    position: absolute;
    top: 50%;
    padding: 0 9%;
    transform: translateY(-50%);
}
.icons .media-icons{
    display: block;
    margin: 26px 0;
    font-size: 24px;
    color:rgb(24, 29, 4);
    transition: all .50s ease;
}
.icons .media-icons:hover{
    color: #4d9559;
    transform: translateY(-5px);
}

@media screen and (max-width:800px) {
    .main-page-content{
        margin-left:20% ;
    }
}