nav{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 9%;
    background: transparent;
} 
.logo{
  width: 10rem;
  height: 5rem;
}
.nav-list{
    display: flex;
} 
.nav-list .list-items{
    /* color: rgb(63, 61, 7); */
    margin-left: 60px;
    font-size: 25px;
    border-bottom: 2px solid transparent;
    transition:  all .55s ease;
    padding-right: 30px;
}
.link{
    font-style: none;
    color: rgb(49, 50, 6);
    font-weight: 600px;
}
.list-items:hover{
    background:transparent;
    transform: translateX(-8px);
}
.link:hover{
    color: brown;
} 
.side-bar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255,255,255,0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px (0,0,0,0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.side-bar li{
padding: 20px;
width: 100%;
}
.sidebar-link{
    font-style: none;
    color: black;
}
.menu-icon a{

    color: black;
    height: 20px;
    width: 30px;
    padding-left: 30px;
}