nav{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 9%;
    background: transparent;
} 
nav{
    margin-top: 10px;
}
.logo{
  width: 6rem;
  height: 4rem;
}
.nav-list{
    display: flex;
} 
.nav-list, .list-items{
    /* color: rgb(63, 61, 7); */
    margin-left: 60px;
    font-size: 25px;
    border-bottom: 2px solid transparent;
    transition:  all .55s ease;
    padding-right: 30px;
}
.link{
    font-style: none;
    color: rgb(255, 255, 255);
    font-weight: 600px;
}
.list-items:hover{
    background:transparent;
    transform: translateX(-8px);
}
.link:hover{
    color: brown;
} 
.sidebar-link{
    font-style: none;
    color: #ffffff;
}
.menu-icon{
    border: 2px solid green;
    color: black;
    float: right;
    padding: 2em;
} 
.side-navbar{
    position: relative;
    z-index: 999;
    display: none;
    color: black;
}

.show-side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1em;
    display: block;
}
.hide-side-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1em;
    display: none;
}
.sidebar-link{
    color: white;
}

@media screen and (max-width:800px) {
    .nav-list{
        display: none;
    }
    .side-navbar{
        display: none;
    }
}